.header {
    height: 70px;

    background: #8b0000;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.header h2 {
    margin: 0;
    font-size: 24px;
}